SECRET_KEY=
DEBUG=

DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=


POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_INITDB_ARGS="--encoding=UTF-8 --lc-collate=C.UTF-8 --lc-ctype=C.UTF-8"

RNR_HOSTNAME="beta.api.rnrrooms.com"
RNR_API_KEY=
RNR_API_SECRET_KEY=
RNR_USERNAME=
RNR_PASSWORD=

AAMARPAY_DEV_URL="http://sandbox.aamarpay.com/"
AAMARPAY_STORE_ID="aamarpaytest"
AAMARPAY_SIGNATURE_KEY="dbb74894e82415a2f7ff0ec3a97e4183"
